<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>档案门类</title>
    <link rel="stylesheet" th:href="@{/bootstrap-5.1.3-dist/css/bootstrap.min.css}">
    <script th:src="@{/js/jquery-2.0.3.min.js}"></script>
    <script th:src="@{/js/index.js}"></script>
    <link rel="stylesheet" th:href="@{/css/index.css}">
    <link rel="stylesheet" th:href="@{/css/common/common.css}">
    <link rel="stylesheet" th:href="@{/css/tree.css}">
    <link rel="stylesheet" th:href="@{/css/configuration/templateGroup.css}">
    <script th:src="@{/bootstrap-5.1.3-dist/js/bootstrap.bundle.js}"></script>
    <script th:src="@{/js/common/common.js}"></script>
    <link rel="stylesheet" th:href="@{/icon/iconfont.css}">
    
    <script th:src="@{/js/menuTotal.js}"></script>


    <!-- <link rel="stylesheet" href="/static/bootstrap-5.1.3-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/index.css">
    <link rel="stylesheet" href="/static/css/tree.css">
    <link rel="stylesheet" href="/static/css/configuration/templateGroup.css">
    <script src="/static/js/jquery-1.11.3.min.js"></script>
    <script src="/static/js/configuration/templateGroup.js"></script>
    <script src="/static/js/index.js"></script>
    <script src="/static/bootstrap-5.1.3-dist/js/bootstrap.bundle.js"></script> -->
</head>

<body class="wrapppd">
    <div class="row" style="height:8vh">
        <headere class="col-12" style="height:8vh">

        </headere>
    </div>
    <div class="row contentFather" style="height:92vh">
        <div class="contentLeft col-2" style="height:100%">
            <div style="height:7vh" class="topNavigationBorder"  onclick="closeMenu()">
                <span class="iconfont icon-zhankaicaidan1 globalMenu" id="Menu">菜单</span>
            </div>
        </div>
        <div class="col-10 contentRight" style="height:100%;width:85%">
            <div id="functionButton" style="height:100%">
                <div class="row" style="margin-left:2vw;height: 7vh;">
                    <div class="currentPosition col-12" style="height:100%;">
                        <span style="margin-left:2vw"> <a href="/toArchiveHome">智慧档案管理总平台> </a><a href="#">著录项模板组</a></span>
                    </div>
                </div>
                <div style="height:7vh;margin-left:2vw">
                    <!-- <button type="button" class="btn btn-success add" onclick="add(this)">更新</button> -->
                    <button type="button" class="btn xinzen add" data-bs-toggle="modal"
                        data-bs-target="#exampleModal" data-bs-whatever="@mdo">新增
                    </button>
                    <button type="button" class="btn daoru add" data-bs-toggle="modal"
                        data-bs-target="#importFile">导入
                    </button>
                    <button type="button" class="btn daochu add" data-bs-toggle="modal"
                        data-bs-target="#exampleModala">导出
                    </button>
                </div>
                <div class="row" style="height:70vh;margin-left:2vw;width:95%">
                    <div class="rowdown" style="margin-left:2vw">
                        <table class="table text-nowrap  template" style="font-size:.8rem;margin-top:0rem">
                                <tr>
                                    <!-- <th><input type="checkbox">:全选</th> -->
                                    <th>模板名称</th>
                                    <th>模板介绍</th>
                                    <th></th>
                                </tr>
                                <tr th:each="tg:${list.data}">
                                    <!-- <td scope="col-1"><input type="checkbox" th:name="${tg.id}"></td> -->
                                    <td scope="col-3" th:text="${tg.name}" style="width: 25%;">Handle</td>
                                    <td scope="col-6" th:text="${tg.introduce}" style="width: 50%;">Handle</td>
                                    <td scope="col-3" style="width: 25%;">
                                        <button type="button" class="btn col-3 xiugai amend " data-bs-toggle="modal"
                                            data-bs-target="#exampleModal" data-bs-whatever="@mdo" th:name="${tg.id}">修改
                                        </button>
                                        <button type="button" class="btn col-3 delete shanchu deleteDictionaries "
                                            th:name="${tg.id}">删除
                                        </button>
                                    </th>
                                </tr>
                        </table>
                    </div>
                </div>
                <div style="height:8vh;margin-left:2vw">
                    <div style="float: left;width: 10rem;margin-top: 0.25rem;height: 2.5rem;line-height: 2.5rem;">
                        <span>展示数量:</span>
                        <select class="form-select" aria-label="Default select example"
                            style="width: 5rem;float: right; " id="exhibition">
                            <option value="10">10</option>
                            <option value="20">20</option>
                            <option value="30">30</option>
                        </select>
                    </div>
                    <div class="row" style="float: right;margin-left: 2rem;">
                        <nav aria-label="Page navigation example">
                            <ul class="pagination">
                            </ul>
                        </nav>
                    </div>
                    <div class="row" style="float: right;margin-top: 0.25rem;width: 10rem;margin-left:2rem;margin-right:4vw">
                        <input class="form-control form-control-sm" type="text" placeholder="" id="jumpVal"
                            aria-label=".form-control-sm example" style="width: 5rem;"
                            onkeyup="this.value=this.value.replace(/[^0-9]/g,'')">
                        <button type="button" class="btn col-5  btn-primary amend"
                            style="width: 3rem;font-size: 0.8rem;margin-left: 1rem;" onclick="jump()">GO
                        </button>
                    </div>
                    <div style="float: right;margin-top: 0.54rem;"><span>5</span>条数据,共<span>5</span>页</div>
                </div>
            </div>
        </div>
    </div>




    <!-- 这个点击新增修改的时候弹出来的modal,要在这里添加一个rfid著录项字段 -->
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">添加字典</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="dictionariesType" class="col-form-label">名称:</label>
                        <input class="form-control" list="datalistOptions" id="dictionariesType" placeholder="">
                        <datalist id="datalistOptions">
                        </datalist>
                    </div>
                    <div class="mb-3">
                        <label for="introduce" class="col-form-label">介绍:</label>
                        <textarea class="form-control" id="introduce"></textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary buttText" onclick="addListInfomation()">新增
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="importFile" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="dictionariesType1" class="col-form-label">请选择导入文件:</label>
                        <input type="file" name="name" id="imporfile">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="buttone" class="btn btn-primary addModer" onclick="addModerfile()">确认</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="exampleModala" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="dictionariesType1" class="col-form-label">组名称:</label>
                        <input class="form-control dictionariesType1 dictionaries1" list="datalistOptions1"
                            id="dictionariesType1" placeholder="">
                        <datalist class="datalistOptions1" id="datalistOptions1">
                        </datalist>
                    </div>
                    <div>已存在的模板著录项:</div>
                    <div id="existTemplate">

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="buttone" class="btn btn-primary addModer" onclick="addModer()">确认</button>
                </div>
            </div>
        </div>
    </div>
</body>
<script>

</script>
<script th:src="@{/js/configuration/templateGroup.js}"></script>

</html>